@{

}


<div class="container shadow py-3">
    <div class="row">

        <div class="col-md-2">
            <button type="submit" id="KayitGetirButon" class="btn btn-success btn-block form-control">
                Getir
            </button>
        </div>

        <br />
        <br />


        <div class="col-md-2 col">
            <div class="input-group date" id="datepickerBaslangic">
                <input class="form-control" type="text" placeholder="Tarihi Seçiniz" id="datepickerBaslangic" name="datepickerBaslangic" value="@WebSessionManager.FilterDate_Start">
                <span style="padding: .375rem .75rem; background-color:lightgray;" class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>

        <div class="col-md-2 col">
            <div class="input-group date" id="datepickerBitis">
                <input class="form-control" type="text" placeholder="Tarihi Seçiniz" id="datepickerBitis" name="datepickerBitis" value="@WebSessionManager.FilterDate_Start">
                <span style="padding: .375rem .75rem; background-color:lightgray;" class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>

    </div>
</div>




<script>

    $(function () {

        $.fn.datepicker.dates['tr'] = {
            days: ['Pazar', 'Pazartesi', 'Salı', 'Çarşamba', 'Perşembe', 'Cuma', 'Cumartesi'],
            daysShort: ['Paz', 'Pzt', 'Sal', 'Çar', 'Per', 'Cum', 'Cmt'],
            daysMin: ['Pz', 'Pt', 'Sa', 'Ça', 'Pe', 'Cu', 'Ct'],
            months: ['Ocak', 'Şubat', 'Mart', 'Nisan', 'Mayıs', 'Haziran', 'Temmuz', 'Ağustos', 'Eylül', 'Ekim', 'Kasım', 'Aralık'],
            monthsShort: ['Oca', 'Şub', 'Mar', 'Nis', 'May', 'Haz', 'Tem', 'Ağu', 'Eyl', 'Eki', 'Kas', 'Ara'],
            today: 'Bugün',
            clear: 'Temizle',
            format: 'dd.mm.yyyy',
            titleFormat: 'MM yyyy',
            weekStart: 0
        };

        $('#datepickerBaslangic').datepicker({
            format: "dd.mm.yyyy",
            maxViewMode: 2,
            clearBtn: true,
            language: "tr",
            calendarWeeks: true,
            autoclose: true,
            todayHighlight: true,
            toggleActive: true
        });

        $('#datepickerBitis').datepicker({
            format: "dd.mm.yyyy",
            maxViewMode: 2,
            clearBtn: true,
            language: "tr",
            calendarWeeks: true,
            autoclose: true,
            todayHighlight: true,
            toggleActive: true
        });

        $("#KayitGetirButon").click(function () {
            GetUserRecords();
        });



        //$("#datepickerBaslangic").datepicker("setDate", "25.01.1991");
        //$("#datepickerBitis").datepicker("setDate", "25.01.1991");


        //$("#datepickerBitis").datepicker("setDate", WebSessionManager.FilterDate_Start);

        GetUserRecords();

});

    function GetUserRecords() {

        var parameters = {
            "dateStart": $("#datepickerBaslangic").datepicker('getUTCDate'),
            "dateEnd": $("#datepickerBitis").datepicker('getUTCDate')
        };


        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetUserRecord", "UreticiKayit")',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            data: JSON.stringify(parameters),
            success: function (response) {
                $('#list').html(response);
            },
            error: function (data) {
                toastr.error(data)
            },
        });
    }

</script>


<br />

<div id="list">

</div>





@*<div class="container shadow py-5 mb-3">
        <div class="row justify-content-center">
            <div class="col-lg-2 col-sm-6">
                <label for="startDate">Start</label>
                <input id="startDate" class="form-control" type="date" lang="tr" />
                <span id="startDateSelected"></span>
            </div>
            <div class="col-lg-2 col-sm-6">
                <label for="endDate">End</label>
                <input id="endDate" class="form-control" type="date" lang="tr" />
                <span id="endDateSelected"></span>
            </div>
        </div>
    </div>*@

@*<script>let startDate = document.getElementById('startDate')
    let endDate = document.getElementById('endDate')

    startDate.addEventListener('change', (e) => {
        let startDateVal = e.target.value
        document.getElementById('startDateSelected').innerText = startDateVal
    })

    endDate.addEventListener('change', (e) => {
        let endDateVal = e.target.value
        document.getElementById('endDateSelected').innerText = endDateVal
    })</script>*@