@model IEnumerable<URETICI_ODEMELER2>


<h2>Ödemelerim</h2>



@Html.ActionLink("Listeye Geri Dön", "Index", "UreticiKayit", null, new { @class = "btn btn-primary" })


<br />
<br />

@if (!Model.Any())
{
    <hr />
    <h4>Henüz Ödemeniz Bulunmamaktadır.</h4>
}
else
{

    <table class="table table-responsive table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    Tarih
                </th>
                <th>
                    Ödeme
                </th>
                <th>
                    Açıklama
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @{
                            string Tarih = item.TARIH.Value.ToShortDateString();
                        }

                        @Html.DisplayFor(modelItem => Tarih)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ODEME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ACIKLAMA)
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
