<header id="header" class="fixed-top header-inner-pages">
    <div class="container-fluid">

        <div class="row justify-content-center">
            <div class="col-xl-9 d-flex align-items-center justify-content-lg-between">
                <h1 class="logo me-auto me-lg-0"><a href="/Home/Index">floratediye.com</a></h1>
                <!-- <a href="index.html" class="logo me-auto me-lg-0">
                    <img src="https://floratediye.com/Resimler/icon.ico" alt="" class="img-fluid"></a> -->

                    


                @if(AuthManager.IsAuthenticated())
                {
                    @await Html.PartialAsync("HeaderSignedIn.cshtml");
                }
                else
                {
                    <a style="margin:10px;" href="/Bireysel/Giris" class="get-started-btn scrollto">Üretici Giriş</a>
                }

            </div>
        </div>

    </div>
</header>